.user-login-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mascot-image {
    width: 100%;
    max-width: 300px;
    /* margin-top: 60px; */
}

.user-login-form {
    width: 300px; /* Adjust the width as needed */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-login-form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.user-login-form button {
    width: 95%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-login-form button:hover {
    background-color: #0069d9;
}
  