/* VerticalNavBar.css */

.vertical-navbar {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 200px;
  position: fixed;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid #555;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #555;
}

/* .nav-link.active {
  background-color: #555;
} */
